
html {
    position: relative;
    min-height: 100%;
}


body {
    margin-bottom: 60px;
}

body, h1, h2, h3 {
    font-weight: 400;
    font-family: "Varela Round", sans-serif;
    background-color: #5d5d5d;
}

.movie-gallery-header {
    background-color: #34302d;
    border-radius: 0px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    margin-bottom: 0px;
    margin-top: 32px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    color: #FFFFFF;
    font-size: larger;
}

.navbar {
    border-top: 4px solid #6db33f;
    background-color: #34302d;
    border-radius: 0px;
    margin-bottom: 0px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.gallery {
    background: #EEE;
}

.gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
}

/* cell number */
.gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
}

p {
    text-align: center;
}
p {
    width: 100%;
    max-width: 500px;
    margin: auto;
}
a:link,
a:hover,
a:active,
a:visited {
    -webkit-transition: color 150ms;
    transition: color 150ms;
    color: #95a5a6;
    text-decoration: none;
}
a:hover {
    color: #7f8c8d;
    text-decoration: underline;
}
.contain {
    width: 100%;
}
.row_slides {
    overflow: scroll;
    width: 100%;
}
.movie_overview {
    font-size: 16px;
}
.movie_title {
    color: #ffffff;
    font-size: 32px;
}
.movie_year {
    color: #7f8c8d;
    font-size: 24px;
}
.row__inner {
    -webkit-transition: 450ms transform;
    transition: 450ms transform;
    font-size: 0;
    white-space: nowrap;
    margin: 70.3125px 0;
    padding-bottom: 10px;
}
.tile {
    position: relative;
    display: inline-block;
    width: 250px;
    height: 140.625px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    -webkit-transition: 450ms all;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.tile__img {
    width: 250px;
    height: 140.625px;
    -o-object-fit: cover;
    object-fit: cover;
}
.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 0;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    -webkit-transition: 450ms opacity;
    transition: 450ms opacity;
}
.tile__details:after,
.tile__details:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    display: #000;
}
.tile__details:after {
    margin-top: -25px;
    margin-left: -25px;
    width: 0px;
    height: 0px;
    border: 0px solid #ecf0f1;
    line-height: 50px;
    text-align: center;
    border-radius: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}
.tile__details:before {
    content: '';
    left: 0;
    width: 100%;
    font-size: 30px;
    margin-left: 7px;
    margin-top: -18px;
    text-align: center;
    z-index: 2;
}
.tile:hover .tile__details {
    opacity: 1;
}
.tile__title {
    position: absolute;
    bottom: 0;
    padding: 10px;
    color: #FFFFFF;
}
.row__inner:hover {
    -webkit-transform: translate3d(-125px, 0, 0);
    transform: translate3d(-125px, 0, 0);
}
.row__inner:hover .tile {
    opacity: 0.3;
}
.row__inner:hover .tile:hover {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 1;
}
.tile:hover ~ .tile {
    -webkit-transform: translate3d(250px, 0, 0);
    transform: translate3d(250px, 0, 0);
}

.footer {
    font-size: 4px;
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    clear:both;
    padding-top:20px;
}
